/* styles.css */

* {
  background-color:azure;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
.button {
  color:white;
  background-color: #2698e6;
  border-radius: 11px;
}

h1 {
  border: 3px solid #2698e6;
  box-shadow: 2px 2px 5px #666;
}

.button {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}

div {
  padding: 0.5em;
}

.images {
  border-radius:20px;
  box-shadow: 2px 2px 5px #666
}